
<div>
  <h1> Edit List: <%= @list.name %> </h1>
  <%= link_to 'Delete List?', list_path(@list), method: :delete, data: {confirm: 'Delete whole list?'} %>

  <%= render(partial:'form') %>

  <%=link_to '<< Back', lists_path %>

</div>
