<h1> Do Your To Do </h1>

<% if @lists.any? %>
<% @lists.each do |list| %>
  <h3><%= link_to list.name, list_path(list) %></h3>
<% end %>

<% else %>
  <p>You do no have any lists</p>
<% end %>
<p><%=link_to 'Add List', new_list_path %></p>
